* @sentry-ecosystem/leander-test1

react-error/* @sentry-ecosystem/leander-test2 @leeandher
react-error/*.js  @sentry-ecosystem/leander-test3 @leeandher-test

flask-error/ @sentry-ecosystem/leander-test4
flask-error/*.py @sentry-ecosystem/leander-test5