* @sentry-ecosystem/leander-test1

react-error/* @sentry-ecosystem/leander-test2 @leeandher
react-error/*.js  @sentry-ecosystem/leander-test3 @leeandher-test1

flask-error/ @sentry-ecosystem/leander-test4 @leeandher
flask-error/*.py @sentry-ecosystem/leander-test5 @leeandher-test1